@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;900&display=swap");
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/utilities/api";

// Layout & components
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/containers";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/modal";
@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/breadcrumb";
@import "node_modules/bootstrap/scss/badge";
@import "node_modules/bootstrap/scss/pagination";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/accordion";
@import "node_modules/bootstrap/scss/list-group";

// Custom Css By Developer

// Common Css Start

.dark-mode-light {
  background-color: #44474a !important;
  *{
    color: #fff !important;
  }
}
.dark-mode {
  background-color: #212529 !important;
  .about-section{
    background-color: #212529 !important;
    p,h2{
      color: #fff !important;
    }
  }
  .navbar-toggler {
    border: 2px solid transparent;
    border-color: #fff !important;
    color: #fff !important;
    &:focus {
      box-shadow: none;
    }
  }
  .navbar-collapse{
    &.show{
      background-color: #212529;
    }
  }
  .active-audio-player{
    background-color: #212529 !important;
    *{
      color: #fff !important;
    }
    .play-pause-icon{
      background-color: #212529 !important;
      border: 0.5px solid #212529 !important;
    }
    svg path{
      fill: #fff !important;
    }
  }
  .header-inner-dark-mode{
    a{
      color: #fff !important;
    }
  }
  .navbar-custom-with-logo {
    &.open{
      background-color: #212529 !important;
    }
  }
  .bg-custom{
    background-color: #212529 !important;
  }
  .text-white{
    color: #fff !important;
    p,h2{
      color: #fff !important;
    }
  }
}

.active-audio-player {
  width: 70%;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  .play-pause-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 0.5px solid #FAFAFA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), inset 3px 3px 4px rgba(0, 0, 0, 0.12);
    i{
      font-size: 15px;
      color: #081212;
    }
  }
  svg {
    path{
      fill: #081212;
    }
  }
  .rhap_play-pause-button{
    svg {
      path{
        fill: #fff;
      }
    }
  }
  .rhap_volume-indicator{
    background-color: #081212;
  }
  .rhap_progress-indicator{
    background-color: #081212;
    width: 10px;
    height: 10px;
    top: -2px;
  }
  .rhap_progress-filled{
    background-color: #081212;
  }
  
}

.text-info {
  color: #38f0f9;
}
.accordion-item:first-of-type .accordion-button {
  box-shadow: none;
  border-radius: 10px !important;
}
.accordion-item {
  border: 0.5px solid #d5e3e3;
  border-radius: 10px !important;
}
.accordion-button::after{
  background-image: url('./../images/arrow-down.svg');
  position: absolute;
  right: 11px;
  top: 12px;
}
.accordion-button:not(.collapsed)::after{
  transform: none;
  background-image: url('./../images/arrow-up.svg');
  position: absolute;
  right: 11px;
  top: 12px;
}
.accordion-body {
  max-height: 400px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #ccc;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .list-group-item {
    background: #f0f0f0;
    border: none;
    border-radius: 6px;
    height: 50px;
  }
  .icon {
    margin-top: 13px;
    margin-right: 15px;
    cursor: pointer;
  }
  li {
    color: #6b8080;
    .time-duration {
      font-weight: 500;
      font-size: 10px;
      line-height: 28px;
      color: #6b8080;
    }
    i {
      color: #081212;
    }
  }
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  color: #081212;
  background-color: #fff;
}
.banner-section {
  margin-bottom: 1rem;
  .image {
    margin-top: 1rem;
  }
}
p {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #6b8080;
}
.page-title {
  font-size: 40px;
  color: #081212;
  @media only screen and (max-width: 1024px) {
    font-size: 36px;
  }
  @media only screen and (max-width: 425px) {
    font-size: 26px;
  }
}
.main-content {
  padding-top: 100px;
  @media only screen and (max-width: 425px) {
    padding-top: 80px;
  }
}
.peragraph-content {
  margin-bottom: 4rem;
  .p-title {
    color: #081212;
  }
  .p-content {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #6b8080;
  }
}
// Common Css End
// Header Css Start
body {
  font-family: "Nunito Sans", sans-serif;
  h4 {
    font-weight: 600;
  }
  h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #081212;
  }
}
.p-relative {
  position: relative;
}
.navbar-custom-with-logo {
  min-height: 80px;
  border-bottom: 0.6px solid #f3f3f37d;
  font-family: "Questrial", "Helvetica Neue", Arial, sans-serif;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  @media only screen and (max-width: 768px) {
    min-height: 60px;
  }
  .navbar-brand {
    @media only screen and (max-width: 768px) {
      margin-right: 0;
    }
  }
  .navbar-toggler {
    border: 2px solid transparent;
    border-color: #0b0f20;
    color: #0b0f20;
    &:focus {
      box-shadow: none;
    }
  }
  .navbar-nav {
    li {
      margin: 0 10px;
      @media only screen and (max-width: 768px) {
        margin: 0px;
      }
      a {
        font-size: 13px;
        line-height: 17px;
        color: #6b8080;
      }
    }
  }
  &.open {
    background: #fff;
  }
  &.bg-custom {
    background: #fff;
  }
}
.navbar-custom {
  min-height: 80px;
  border-bottom: 0.6px solid #f3f3f37d;
  font-family: "Questrial", "Helvetica Neue", Arial, sans-serif;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  @media only screen and (max-width: 768px) {
    min-height: 60px;
  }
  .navbar-nav {
    li {
      margin: 0 10px;
      @media only screen and (max-width: 768px) {
        margin: 0px;
      }
      a {
        font-size: 13px;
        line-height: 17px;
        color: #fff;
      }
    }
  }
  &.open {
    background: #0b0f20;
  }
  &.bg-custom {
    background: #0b0f20;
  }
}
.closed {
  @media only screen and (max-width: 768px) {
  }
}
.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
.navbar-toggler {
  border-color: #fff;
  color: #fff;
  &:focus {
    box-shadow: none;
  }
}
.navbar-collapse {
  @media only screen and (max-width: 768px) {
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    background: #0b0f20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    display: none;
    transition: display 0.5s linear;
  }
  &.show {
    @media only screen and (max-width: 768px) {
      background: #0b0f20;
      display: block;
      transition: display 0.5s linear;
    }
  }
}

.logo-img {
  vertical-align: inherit;
}
// Header Css End
// Home Page Start
header {
  position: relative;
  min-height: 550px;
  text-align: center;
  color: #fff;
  width: 100%;
  background-image: url("./../images/banner-home.png");
  background-position: center;
  background-size: cover;
  @media only screen and (max-width: 425px) {
    min-height: 440px;
  }
  .header-content {
    position: relative;
    width: 100%;
    padding: 80px 0px;
    text-align: center;
    z-index: 2;
    @media only screen and (max-width: 768px) {
      padding: 60px 0px;
    }
    .logo-image {
      img {
        max-width: 25%;
        @media only screen and (max-width: 1024px) {
          max-width: 35%;
        }
        @media only screen and (max-width: 425px) {
          max-width: 60%;
        }
        @media only screen and (max-width: 375px) {
          max-width: 70%;
        }
      }
    }
    h4 {
      font-size: 30px;
      @media only screen and (max-width: 425px) {
        font-size: 20px;
      }
      @media only screen and (max-width: 375px) {
        font-size: 18px;
      }
    }
    p {
      font-size: 25px;
      color: #fff;
      @media only screen and (max-width: 425px) {
        font-size: 15px;
      }
      @media only screen and (max-width: 375px) {
        font-size: 13px;
      }
    }
  }
}
.btn-primary-custom {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  background: #38f0f9;
  border: 1px solid #38f0f9;
  border-radius: 100px;
  color: #081212;
  @media only screen and (max-width: 425px) {
    font-size: 12px;
  }
  &:hover {
    background: #38f0f9;
    color: #081212;
  }
  &:focus {
    box-shadow: none;
    background: #38f0f9;
    color: #081212;
  }
}
.about-section {
  position: relative;
  background-color: #ffffff;
  .image-sec {
    @media only screen and (max-width: 768px) {
      text-align: center;
    }
  }
  .info {
    @media only screen and (max-width: 425px) {
      text-align: center;
    }
    .nextbutton {
      margin-top: 3rem;
      @media only screen and (max-width: 1024px) {
        margin-top: 0rem;
      }
    }
    .price {
      background: #e6f6f7;
      border-radius: 50px;
      color: #38f0f9;
      font-size: 18px;
    }
    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      color: #6b8080;
    }
  }
  .p-relative {
    position: relative;
  }
  .home-about-img {
    width: 100%;
    position: absolute;
    margin-top: -8rem;
    @media only screen and (max-width: 1024px) {
      margin-top: -6rem;
    }
    @media only screen and (max-width: 768px) {
      width: 50%;
      position: unset;
      margin: -6rem auto 0;
    }
    @media only screen and (max-width: 425px) {
      width: 75%;
    }
  }
}
// Home Page End

// Footer Section Start
.footer {
  color: #081212;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
}
// Footer Section End

// About page start

// About page end
